.reset-password {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 1em;
  }
  
  .reset-password__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
  
  .reset-password__title {
    font-size: 4rem;
    font-weight: bold;
    color: #333;
    margin: 0;
  }
  
  .reset-password__form {
    font-size: 1.25rem;
    color: #666;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  .reset-password__email {
    display:flex;
    gap: 1em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1019607843);
    width: 100%;
    max-width: 400px;
    padding: 1em;
  }
  
  .reset-password__email input {
    outline: none;
    font-size: 1em;
    border: none;
    border-bottom: 2px solid rgb(194, 194, 194);
  }

  .reset-password__email input::-moz-placeholder {
    color: #dbdbdb;
  }
  .reset-password__email input::placeholder {
    color: #dbdbdb;
  }

  .not-found__link {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: var(--clr-primary);
    text-decoration: none;
    margin-top: 10px;
    padding: 0.7em 1em;
    border: 1px solid black;
    border-radius: 0.25em;
  }
  