.reset-password {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 1em;
  }
  
  .reset-password__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }
  
  .reset-password__title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin: 0;
  }
  
  .reset-password__form {
    font-size: 1.25rem;
    color: #666;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  .not-found__link {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: var(--clr-primary);
    text-decoration: none;
    margin-top: 10px;
    padding: 0.7em 1em;
    border: 1px solid black;
    border-radius: 0.25em;
  }

  .reset-password__btn-box {
    display: flex;
    flex-direction: row;
    gap: 1em;
  }
  .reset-password__btn {
    color: var(--clr-font);
    border-radius: 2px;
    padding: 0.25em 0.75em;
    font-size: 0.8em;
  }
  .reset-password__btn--warn {
    background-color: var(--clr-highlight);
    color: #fff;
    padding: 0.5em;
    border-radius: 2.5px;
    font-size: 0.8em;
  }

  .reset-password__form {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .reset-password__form label {
    display: flex;
    flex-direction: column;
    color: var(--clr-font);
    font-weight: bold;
    padding: 0.25rem 0.5rem;
  }
  
  .reset-password label input {
    border: 1px solid #dadada;
    padding: 0.5em 0;
    outline: none;
    font-size: 0.7em;
    border: none;
    border-bottom: 1px solid rgb(194, 194, 194);
    background-color: transparent;
  }

  .reset-password label input::-moz-placeholder {
    color: #dbdbdb;
  }
  .reset-password label input::placeholder {
    color: #dbdbdb;
  }